# filepath: /home/susan/Desktop/DocTalk/server/requirements.txt
fastapi
uvicorn
langchain
langchain-classic
langchain-core
langchain-community
langchain-text-splitters
python-multipart
faiss-cpu
pymongo
python-dotenv
langchain-google-genai
certifi
pydantic>=2.0
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pypdf
docx2txt
langchain-huggingface

# CPU-only PyTorch (no NVIDIA CUDA)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers